@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --body-bg: var(--p-surface-50);
    --body-text-color: var(--p-surface-900);
    --card-border: 1px solid var(--border-color);
    --card-bg: var(--p-surface-0);
    --border-color: var(--p-surface-200);
    --text-color: var(--p-surface-700);
    --overlay-background: #ffffff;
    --surface-hover: var(--p-content-hover-background);
    --primary-color: var(--p-primary-500);
}

:root[class='p-dark'] {
    --body-bg: var(--p-surface-950);
    --body-text-color: var(--p-surface-50);
    --card-border: 1px solid transparent;
    --card-bg: var(--p-surface-900);
    --border-color: rgba(255, 255, 255, 0.1);
    --text-color: var(--p-surface-0);
    --overlay-background: var(--p-surface-900);
}

html {
    font-size: 14px;
}

body {
    margin: 0px;
    min-height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: var(--body-bg);
    font-weight: normal;
    color: var(--body-text-color);
}

.card {
    background: var(--card-bg);
    border: var(--card-border);
    padding: 2rem;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.layout-main-container {
    min-height: calc(100vh - 4rem);
    padding: 2rem 2rem 0;
    transition: margin-left var(--layout-section-transition-duration);
}

@media (max-width: 991px) {
    .layout-wrapper .layout-main-container {
        margin-left: 0;
        padding-left: 2rem;
    }
}

.layout-topbar {
    height: 4rem;
    width: 100%;
    padding: 0 2rem;
    background-color: var(--card-bg);
    transition: left var(--layout-section-transition-duration);
    display: flex;
    align-items: center
}

.layout-topbar .layout-topbar-logo-container {
    width: 20rem;
    display: flex;
    align-items: center
}

.layout-topbar .layout-topbar-logo {
    display: inline-flex;
    align-items: center;
    font-size: 1.5rem;
    border-radius: var(--content-border-radius);
    color: var(--text-color);
    font-weight: 500;
    gap: .5rem
}

.layout-topbar .layout-topbar-logo svg {
    width: 3rem
}

.layout-topbar .layout-topbar-logo:focus-visible {
    outline-width: var(--focus-ring-width);
    outline-style: var(--focus-ring-style);
    outline-color: var(--focus-ring-color);
    outline-offset: var(--focus-ring-offset);
    box-shadow: var(--focus-ring-shadow);
    transition: box-shadow var(--transition-duration),outline-color var(--transition-duration)
}

.layout-topbar .layout-topbar-action {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    color: var(--text-color);
    transition: background-color var(--element-transition-duration);
    cursor: pointer
}

.layout-topbar .layout-topbar-action:hover {
    background-color: var(--surface-hover)
}

.layout-topbar .layout-topbar-action:focus-visible {
    outline-width: var(--focus-ring-width);
    outline-style: var(--focus-ring-style);
    outline-color: var(--focus-ring-color);
    outline-offset: var(--focus-ring-offset);
    box-shadow: var(--focus-ring-shadow);
    transition: box-shadow var(--transition-duration),outline-color var(--transition-duration)
}

.layout-topbar .layout-topbar-action i {
    font-size: 1.25rem
}

.layout-topbar .layout-topbar-action span {
    font-size: 1rem;
    display: none
}

.layout-topbar .layout-menu-button {
    margin-right: .5rem
}

.layout-topbar .layout-topbar-actions {
    margin-left: auto;
    display: flex;
    gap: 1rem
}

@media (max-width: 991px) {
    .layout-topbar {
        padding:0 2rem
    }

    .layout-topbar .layout-topbar-logo-container {
        width: auto
    }

    .layout-topbar .layout-menu-button {
        margin-left: 0;
        margin-right: .5rem
    }
}

@media (min-width: 992px) {
    .main-container {
        margin-left: 20rem;
        transition: margin-left 0.3s;
    }
    .p-drawer-mask {
        background: none !important;
        width: 20rem !important;
    }
    .p-drawer {
        box-shadow: none !important;
    }
    .sidebar-hidden {
        margin-left: 0 !important;
    }
}